-e . #local package
dvc
dvc[gdrive]
scikit-learn
pandas
pytest
tox
flake8
joblib  # Needed for model saving/loading
numpy  # Commonly used in ML models
pyyaml  # Required for reading params.yaml
flask
gunicon